.hidden {
    display: none;
}

.dropdown-open {
    position: fixed;
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 9999; /* optionnel mais utile */
}

nav.items-center.gap-8 { display: none; }
.nav-wrap.open nav {
    display: flex;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 3rem;
    top: 6rem;
    flex-direction: column;
    position: absolute;
}
#navWrap.open {
    background-color: #FFFFFF;
}
